*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --COLOR-IN:black;
    --COLOR-OUT:green;
    --TEXT-COLOR:aliceblue;

}

@media (prefers-color-scheme: dark){
    :root{
        --COLOR-IN:black;
        --COLOR-OUT:red;
        --TEXT-COLOR:aliceblue;
    }
}


body{
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: hsla(0, 0%, 0%, 0.188);
    min-height: 100vh;
}

:is(header,footer){
    background-image:linear-gradient(var(--COLOR-IN), var(--COLOR-OUT));
    
    border: var(--COLOR-IN) 2px solid;
}
:is(h1,h2){
    -webkit-background-clip: text;
    background-image: radial-gradient(var(--COLOR-OUT), var(--COLOR-IN));
    -webkit-text-fill-color: transparent;
}
header nav{
    background-image: linear-gradient(var(--COLOR-IN),var(--COLOR-OUT));
    border: var(--COLOR-IN) 2px solid;
}
body main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body main p{
    font-size: 4em;
    color:var(--TEXT-COLOR);
    width: min(400px, 90vw);
    height:min(400px,60vw);
    background-image: radial-gradient(var(--COLOR-IN),var(--COLOR-OUT) );
    
    border-radius: 50%;
    border: 10px black solid;
    text-shadow: 6px 6px 8px black;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;

    
}

